server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/asa
    username: asa
    password: asa
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
app:
  jwt:
    secret: change-this-secret-please-change-this-secret
    expiration-minutes: 480
