<div class="barraAcoesCrud">
  <button type="button" class="botaoAcao" [disabled]="desabilitarBuscar" (click)="buscar.emit()">
    <span class="iconeAcao" aria-hidden="true">
      <svg class="iconeSvg" viewBox="0 0 24 24">
        <circle cx="11" cy="11" r="6"></circle>
        <path d="M20 20l-3-3"></path>
      </svg>
    </span>
    <span>Buscar</span>
  </button>
  <button type="button" class="botaoAcao" [disabled]="desabilitarNovo" (click)="novo.emit()">
    <span class="iconeAcao" aria-hidden="true">
      <svg class="iconeSvg" viewBox="0 0 24 24">
        <path d="M12 5v14M5 12h14"></path>
      </svg>
    </span>
    <span>Novo</span>
  </button>
  <button type="button" class="botaoAcao botaoPrimario" [disabled]="desabilitarSalvar" (click)="salvar.emit()">
    <span class="iconeAcao" aria-hidden="true">
      <svg class="iconeSvg" viewBox="0 0 24 24">
        <path d="M5 5h12l2 2v12H5z"></path>
        <path d="M8 5v6h8V5"></path>
        <path d="M8 19v-6h8v6"></path>
      </svg>
    </span>
    <span>Salvar</span>
  </button>
  <button type="button" class="botaoAcao" [disabled]="desabilitarCancelar" (click)="cancelar.emit()">
    <span class="iconeAcao" aria-hidden="true">
      <svg class="iconeSvg" viewBox="0 0 24 24">
        <path d="M6 6l12 12"></path>
        <path d="M18 6l-12 12"></path>
      </svg>
    </span>
    <span>Cancelar</span>
  </button>
  <button type="button" class="botaoAcao botaoPerigo" [disabled]="desabilitarExcluir" (click)="excluir.emit()">
    <span class="iconeAcao iconePerigo" aria-hidden="true">
      <svg class="iconeSvg" viewBox="0 0 24 24">
        <path d="M4 7h16"></path>
        <path d="M9 7V5h6v2"></path>
        <path d="M7 7l1 12h8l1-12"></path>
        <path d="M10 11v6M14 11v6"></path>
      </svg>
    </span>
    <span>Excluir</span>
  </button>
  <button type="button" class="botaoAcao" [disabled]="desabilitarImprimir" (click)="imprimir.emit()">
    <span class="iconeAcao" aria-hidden="true">
      <svg class="iconeSvg" viewBox="0 0 24 24">
        <path d="M7 7h10v4H7z"></path>
        <path d="M7 17h10v-4H7z"></path>
        <path d="M5 9V5h14v4"></path>
        <path d="M5 15v4h14v-4"></path>
      </svg>
    </span>
    <span>Imprimir</span>
  </button>
  <button type="button" class="botaoAcao" [disabled]="desabilitarFechar" (click)="fechar.emit()">
    <span class="iconeAcao" aria-hidden="true">
      <svg class="iconeSvg" viewBox="0 0 24 24">
        <path d="M7 7h10v10H7z"></path>
        <path d="M9 9h6v6H9z"></path>
      </svg>
    </span>
    <span>Fechar</span>
  </button>
</div>
